.level-up-icon-button {
  width: auto;
  border: 0;
  color: var(--color-pf-tertiary-darker);
  background: transparent;
  font-size: 36px;
  line-height: normal;
  align-self: center;
}

.level-up-icon-button:hover,
.level-up-icon-button:focus {
  box-shadow: none;
  text-shadow: 0 0 3px var(--color-shadow-primary);
}

.skill-option-untrained {
  color: var(--text-light);
  background-color: var(--color-proficiency-untrained);
}

.skill-option-trained {
  color: var(--text-light);
  background-color: var(--color-proficiency-trained);
}

.skill-option-expert {
  color: var(--text-light);
  background-color: var(--color-proficiency-expert);
}

.skill-option-master {
  color: var(--text-light);
  background-color: var(--color-proficiency-master);
}

.skill-option-legendary {
  color: var(--text-light);
  background-color: var(--color-proficiency-legendary);
}

.selection-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px 0 1rem 0;

  > label {
    flex: 2;
  }
}

.form-select-feat {
  flex: 2 !important;
}

.form-select-skill {
  flex: 1 !important;
}

.fancy-font {
  font-family: var(--serif);
  font-weight: 600;
}

.flavor-text {
  padding-bottom: 8px;
}
