.level-up-icon-button {
  width: auto;
  border: 0;
  color: var(--color-pf-tertiary-darker);
  background: transparent;
  font-size: 36px;
  line-height: normal;
  align-self: center;
}

.level-up-icon-button:hover,
.level-up-icon-button:focus {
  box-shadow: none;
  text-shadow: 0 0 3px var(--color-shadow-primary);
}
