.level-up-icon-button {
  width: auto;
  border: 0;
  color: var(--color-pf-tertiary-darker);
  background: transparent;
  line-height: normal;
  align-self: center;
}

.level-up-icon-button-large {
  font-size: 36px;
}

.level-up-icon-button-small {
  font-size: 24px;
}

#level-up-wizard .window-content {
  overflow-x: visible;
  overflow-y: visible;
}

.level-up-icon-button:hover,
.level-up-icon-button:focus {
  box-shadow: none;
  text-shadow: 0 0 3px var(--color-shadow-primary);
}

.skill-option-untrained {
  color: var(--text-light);
  background-color: var(--color-proficiency-untrained);
}

.skill-option-trained {
  color: var(--text-light);
  background-color: var(--color-proficiency-trained);
}

.skill-option-expert {
  color: var(--text-light);
  background-color: var(--color-proficiency-expert);
}

.skill-option-master {
  color: var(--text-light);
  background-color: var(--color-proficiency-master);
}

.skill-option-legendary {
  color: var(--text-light);
  background-color: var(--color-proficiency-legendary);
}

.header-container p:last-of-type {
  padding-bottom: 8px;
}

.selection-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px 0 1rem 0;

  > label {
    flex: 2;
  }
}

.checkbox-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.form-select-feat {
  flex: 2 !important;
}

.form-select-skill {
  flex: 1 !important;
}

.fancy-font {
  font-family: var(--serif);
  font-weight: 600;
}

.attribute-boosts {
  display: flex;
  --button-color: #316549;
  --color-boost-dark: #1b3c2a;
}

.attribute-boosts-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.attribute-boosts-label {
  font: 400 var(--font-size-24) var(--serif-condensed);
  width: 100%;
  text-align: center;
}

.attribute-boosts-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--button-color);
  border: 1px solid var(--button-color);
  font-size: var(--font-size-12);
  height: 1.5em;
  outline: none;
  width: 6em;
  border-radius: 3px;
}

.attribute-boosts-button:hover,
.attribute-boosts-button:focus {
  box-shadow: 0 0 5px var(--button-color);
}

.attribute-boosts-button.selected {
  background-color: var(--button-color);
  color: var(--text-light);

  &.partial {
    background: var(--color-boost-dark);
  }
}

.attribute-boosts-button:disabled {
  background: rgba(0, 0, 0, 0.04);
  opacity: 0.4;
  cursor: not-allowed;
}

.attribute-boosts-button:disabled:hover,
.attribute-boosts-button:disabled:focus {
  box-shadow: none;
}

.attribute-modifier {
  font: 700 var(--font-size-24) var(--serif);
}

.boost-text {
  padding-top: 2px;
}

.feat-selector {
  position: relative;
  display: inline-block;
  width: 100%;
}

.feat-selector-toggle {
  height: calc(var(--form-field-height) + 1px);
  width: 50%;
  padding: 0 0 4px 0;
  border: 1px solid #ccc;
  cursor: pointer;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.05);
  border: 1px solid var(--color-border-light-tertiary);
}

.feat-selector-menu {
  margin-top: -16px;
  position: absolute;
  top: 100%;
  right: 0;
  width: 600px;
  height: 500px;
  border: 1px solid var(--color-border-dark);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 3px;

  --color-result-list-odd: rgba(0, 0, 0, 0.12);
}

.feat-selector-menu.hidden {
  display: none;
}

.feat-selector-header {
  display: flex;
  justify-content: flex-end;
  background: url(/ui/denim075.png) repeat;
  color: var(--text-light);
}

.feat-selector-body {
  display: flex;
  height: calc(100% - 30px);
  background: url(/ui/parchment.jpg) repeat;
  border-bottom: 1px solid var(--color-border-dark);
  border-radius: 0 0 3px 3px;
}

.feat-filters {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 195px;
  overflow-y: scroll;
  padding: 0.5rem 0 0 0.5rem;

  input[type='text'] {
    flex: none;
  }

  input[type='number'] {
    flex: none;
  }

  input[type='checkbox'] {
    margin-left: 0;
  }
}

.feat-sort #order-button {
  height: 2em;
  width: 2em;
  border: unset;
  background: unset;
  margin-left: 1em;
}

.feat-sort-text {
  margin: 0;
  text-align: center;
  padding-right: 4px;
}

.feat-filters input::placeholder {
  color: #aaa;
}

.feat-list {
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0;
  margin: 0;
  width: 100%;
}

.feat-option {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-family: var(--font-primary);
  font-size: var(--font-size-14);
  padding: 0.125rem 0.25rem;
  gap: 0.25rem;
  align-items: center;
  cursor: pointer;
}

.feat-option:nth-of-type(odd) {
  background: var(--color-result-list-odd);
}

.feat-option:hover {
  background-color: rgba(255, 255, 255, 0.25);
}

.feat-chat-image-container {
  position: relative;
  align-items: center;
  display: flex;
  min-height: 2rem;
  justify-content: center;
  --inset-shadow-length: 0.25rem;
  border: none;
  border-radius: 2px;
  box-shadow: 0 0 0 1px var(--tertiary), 0 0 0 2px #9f725b,
    inset 0 0 var(--inset-shadow-length) rgba(0, 0, 0, 0.5);

  > img {
    max-width: 2rem;
    border-radius: 2px;
  }
}

.feat-chat-image {
  box-sizing: border-box;
  border: 1px solid var(--color-border-dark);
  border-radius: 2px;
  max-width: 100%;
}

.feat-chat-image-container .fa-solid {
  position: absolute;
  font-size: 1.2rem;
  cursor: pointer;
  opacity: 0;
}

.feat-chat-image-container:hover .fa-solid {
  opacity: 1;
}

.feat-chat-image-container:hover .feat-chat-image {
  opacity: 0;
}

.feat-option .feat-name {
  flex: 5;
}

.feat-option .feat-rarity {
  flex: 2;
  text-align: center;
}

.feat-option .feat-level {
  text-align: center;
  flex-grow: 1;
  font-weight: 900;
  max-width: 1.5em;
}

.feat-option .feat-rarity-tag {
  border: solid var(--color-border-trait);
  border-radius: 0;
  background-color: var(--color-rarity-uncommon);
  text-transform: uppercase;
  font-family: var(--sans-serif);
  font-size: var(--font-size-10);
  letter-spacing: 0.05em;
  border-radius: 2px;
  color: var(--color-text-trait);
  display: inline-flex;
  font-weight: 500;
  padding: 0.3em;
  border-width: 1px 2px 1px 1px;
}

.feat-option .feat-rarity-tag.uncommon {
  background-color: var(--color-rarity-uncommon);
}

.feat-option .feat-rarity-tag.rare {
  background-color: var(--color-rarity-rare);
}

.skill-filter-label {
  display: flex;
  width: 100%;
  padding: 4px;
  gap: 4px;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.skill-filter-options {
  padding-top: 4px;
}

.skill-option {
  display: flex;
  align-items: center;
}

.skill-option:last-of-type {
  padding-bottom: 4px;
}

.archetype-feats-container {
  display: flex;
  align-items: center;
}
