.level-up-icon-button {
  width: auto;
  border: 0;
  color: var(--color-pf-tertiary-darker);
  background: transparent;
  font-size: 36px;
  line-height: normal;
  align-self: center;
}

.level-up-icon-button:hover,
.level-up-icon-button:focus {
  box-shadow: none;
  text-shadow: 0 0 3px var(--color-shadow-primary);
}

.skill-option-untrained {
  color: var(--text-light);
  background-color: var(--color-proficiency-untrained);
}

.skill-option-trained {
  color: var(--text-light);
  background-color: var(--color-proficiency-trained);
}

.skill-option-expert {
  color: var(--text-light);
  background-color: var(--color-proficiency-expert);
}

.skill-option-master {
  color: var(--text-light);
  background-color: var(--color-proficiency-master);
}

.skill-option-legendary {
  color: var(--text-light);
  background-color: var(--color-proficiency-legendary);
}

.selection-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px 0 1rem 0;

  > label {
    flex: 2;
  }
}

.checkbox-row {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.form-select-feat {
  flex: 2 !important;
}

.form-select-skill {
  flex: 1 !important;
}

.fancy-font {
  font-family: var(--serif);
  font-weight: 600;
}

.flavor-text {
  padding-bottom: 8px;
}

.attribute-boosts {
  display: flex;
  --button-color: #316549;
  --color-boost-dark: #1b3c2a;
}

.attribute-boosts-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.attribute-boosts-label {
  font: 400 var(--font-size-24) var(--serif-condensed);
  width: 100%;
  text-align: center;
}

.attribute-boosts-button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--button-color);
  border: 1px solid var(--button-color);
  font-size: var(--font-size-12);
  height: 1.5em;
  outline: none;
  width: 6em;
  border-radius: 3px;
}

.attribute-boosts-button:hover,
.attribute-boosts-button:focus {
  box-shadow: 0 0 5px var(--button-color);
}

.attribute-boosts-button.selected {
  background-color: var(--button-color);
  color: var(--text-light);

  &.partial {
    background: var(--color-boost-dark);
  }
}

.attribute-boosts-button:disabled {
  background: rgba(0, 0, 0, 0.04);
  opacity: 0.4;
  cursor: not-allowed;
}

.attribute-boosts-button:disabled:hover,
.attribute-boosts-button:disabled:focus {
  box-shadow: none;
}

.attribute-modifier {
  font: 700 var(--font-size-24) var(--serif);
}

.boost-text {
  padding-top: 2px;
}
